//- route 2: renders a page that displays a form which is your search bar.
//- takes in the post request from your form, then displays matching users on a new page. Users should be matched based on whether either their first or last name contains the input string.

html
	include includes/head.pug
	body
		h1 Search for a firstname or lastname
		form
			input(name='name')
			button(type='submit',formmethod='post') Search!
		