//- route 2: renders a page that displays a form which is your search bar.
//- takes in the post request from your form, then displays matching users on a new page. Users should be matched based on whether either their first or last name contains the input string.
//- Your site has a form on it that acts like a search bar.
//- On click, it should retrieve a list of matching users and list them by name on the same page.

html
	include includes/head.pug
	body
		h1 Search for a firstname or lastname
		form(id='searchForm')
			input(id='searchInput',name='name')
			button(id='searchSubmit',type='submit') Search!
		div.results
