//- route 4: renders a page with three forms on it (first name, last name, and email) that allows you to add new users to the users.json file.
//- route 5: takes in the post request from the 'create user' form, then adds the user to the users.json file. Once that is complete, redirects to the route that displays all your users (from part 0).


html
	include includes/head.pug
	body
		.main.container
			.row
				.col-md-6.col-md-offset-3
					h1.display-4.m-b-2 Sign-up for dinner!
					form(method='POST')
						//- for future use action='/succes'
						div.form-group
							label(for='firstname') First name
							input.form-control(type='text' id='firstname' placeholder='firstname' name='firstname')
							label(for='lastname') Last name
							input.form-control(type='text' id='lastname' placeholder='lastname' name='lastname')
						div.form-group
							label(for='email') Email
							input.form-control(type='text' id='email' placeholder='email' name='email')
						div.form-group
							label(for='favfood') What do you want to eat?
							input.form-control(type='text' id='favfood' placeholder='favfood' name='favfood')
						button.btn.btn-primary(type='submit') Let's eat together!

				//- form(enctype='application/json')
		//- 	p your name
		//- 	input(name='name', type='text')
		//- 	p your email address
		//- 	input(name='email', type='email')
		//- 	p Select days you're available next week!
		//- 	input(name='day01', type='checkbox', value='Monday') Monday
		//- 	input(name='day02', type='checkbox', value='Tuesday') Tuesday
		//- 	input(name='day03', type='checkbox', value='Wednesday') Wednesday
		//- 	input(name='day04', type='checkbox', value='Thursday') Thursday
		//- 	input(name='day05', type='checkbox', value='Friday') Friday
		//- 	input(name='day06', type='checkbox', value='Saturday') Saturday
		//- 	input(name='day07', type='checkbox', value='Sunday') Sunday
		//- 	p What is your favourite food?
		//- 	input(name='favvood', type='text')
		//- 	input(type='submit', name='submit', value='submit') Search!


